body {
  display: grid;
  background-color: rgb(246,246,250);
  margin: 0px 0px 0px 0px;
}

.container {
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.8fr 0.088fr;
  grid-template-areas:
  "nav"
  "main"
  "footer";
}

.container2 {
  display: grid;
  padding: 0px 24px 16px 24px;
  gap:32px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "content1 sidebar";
  background-color: rgb(246,246,250);

}
.container3 {
  display: grid;
  gap:40px;
  grid-template-columns: 891px;
  grid-template-rows: 516px 404px 746px;
  grid-template-areas:
  "vnalichii"
  "otsutsv"
  "dostavkaBlock";

}
.container4 {
  display: grid;

  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: 362px 136px 216px;
  grid-template-areas:
  "dostavka1"
  "oplata"
  "poluchatel";

}

nav {
  background-color: rgb(103,37,168);
  grid-area: nav;
}
#navigationBlock {
  height: 88px;
  max-width: 1400px;
  background-color: rgb(103,37,168);
}
#Skruglenie {
  height: 24px;
  background-color: rgb(246,246,250);
  border-radius: 24px 24px 0px 0px;
}

main{
  grid-area: main;
}
#sidebar {
  display: grid;
  grid-area: sidebar;
  background-color: rgb(246,246,250);
}
#content1 {
  display: grid;
  grid-area: content1;
  background-color: rgb(246,246,250);
  gap: 27px;
}
#vnalichii {

  grid-area: vnalichii;
  border-style: solid;
}
#otsutsv {

  grid-area: otsutsv;
  border-style: solid;
}
#dostavkaBlock {
  grid-area: dostavkaBlock;
}

#dostavka1 {
  grid-area: dostavka1;
  height: 362px;
}
#oplata {
  grid-area: oplata;
  height: 136px;
}
#poluchatel {
  grid-area: poluchatel;
  height: 216px;
}
#dostavka1Round {
  background-color: rgb(255,255,255);
  border-radius: 16px;
  height: 362px;
}
#oplataRound {
  background-color: rgb(255,255,255);
  border-radius: 16px;
  height: 136px;

}
#poluchatelRound {
  background-color: rgb(255,255,255);
  border-radius: 16px;
  height: 216px;

}
#sidebarItog {
  display: grid;
  background-color: rgb(255,255,255);
  border-radius: 16px;
  height: 572px;
  width: 429px;
  margin-top: -12px;
}

#Skruglenie2 {
  height: 24px;
  background-color: rgb(246,246,250);
  border-radius: 0px 0px 24px 24px;
}

footer {
  height: 88px;
  background-color: rgb(103,37,168);
  grid-area: footer;
}
@media only screen and (max-width: 425px) {
  .container {
    display: grid;
    max-width: 425px;
    height: 100vh;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.8fr 0.088fr;
    grid-template-areas:
  "nav"
  "main"
  "footer";
  }
  .container2 {
    display: grid;
    padding: 0px 24px 16px 24px;
    gap:32px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
  "content1"
  "sidebar";
    background-color: rgb(246,246,250);

  }

}


@media (max-width: 426px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.8fr 0.088fr;
    grid-template-areas:
  "nav"
  "main"
  "footer";
  }
  .container2 {
    display: grid;
    padding: 0px 24px 16px 24px;
    gap:32px;
    grid-template-columns: 640px 304px;
    grid-template-rows: 1fr;
    grid-template-areas:
  "content1 sidebar";
    background-color: rgb(246,246,250);

  }
  .container3 {
    display: grid;
    height: 1746px;
    gap:40px;
    grid-template-columns: 640px;
    grid-template-rows: 516px 404px 746px;
    grid-template-areas:
  "vnalichii"
  "otsutsv"
  "dostavkaBlock";

  }
  #sidebarItog {
    display: grid;
    background-color: rgb(255,255,255);
    border-radius: 16px;
    height: 572px;
    width: 303px;
    margin-top: -12px;
  }
}

