* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(246,246,250);
  margin: 0px 0px 0px 0px;
}
.container {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 112px 1825px 88px;
  grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
}
.contantContainer {
  column-gap: 32px;
  row-gap: 27px;
  display: grid;
  border-style: solid;
  grid-area: contantContainer;
  padding: 0px 24px 16px 24px;
  grid-template-columns:  auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "h1  sidebarItog"
  "container1 sidebarItog";
}
.container1{
  row-gap: 40px;
  display: grid;
  grid-area: container1;

  grid-template-columns: 1fr;
  grid-template-rows: 516px 404px 746px;
  grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
}
.containerVnalichii {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 1fr;

  gap: 16px;
  grid-template-areas:
     "vyborVse"
     "tovary";
}
#tovary {

  grid-area: tovary;
}
#vyborVse {
  border-style: solid;
  grid-area: vyborVse;
}
#vnalichii {

  grid-area: vnalichii;
}
.containerTovary{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 108px 176px 152px;

  gap: 20px;
  grid-template-areas:
     "tovar1"
     "tovar2"
     "tovar3";
}
.tovar{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto 226px;
  grid-template-rows: auto;
  grid-templates-areas:
    "picAndDescription sumAndCount";
}

.picAndDescription{
  border-style: solid;
  grid-area: picAndDescription;
}
.sumAndCount{
  border-style: solid;
  grid-area: sumAndCount;
}
.containerPicAndDescription{
  display: grid;
  grid-template-columns: 106px 1fr;
  grid-template-rows: 108px;
  padding: 12px 0px 0px 0px;
  grid-templates-areas:
    "IdClickAndPic IdDescriptionFromPicAndDescription";
}
.ClickAndPic {
  display: grid;
  grid-template-columns: 22px 72px;
  grid-template-rows: 108px;
  grid-templates-areas:
    "ClickFromClickAndPic PictureFromClickAndPic";
}
#ClickFromClickAndPic{
  grid-area: ClickFromClickAndPic;
}
#PictureFromClickAndPic{
  grid-area: PictureFromClickAndPic;
}
.containerSpecificationFromDescriptionFromPicAndDescription{
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  justify-content: start;
  grid-templates-areas:
    "idThingColor idThingSize"
}
.containercompanyFromDescriptionFromPicAndDescription{
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: start;
  grid-templates-areas:
    "idCompany idInfo"
}
#nameFromDescriptionFromPicAndDescription2{
  width:275px;
}
#nameFromDescriptionFromPicAndDescription3{
  width:275px;
}

.containerSumAndCount{
  display: grid;
  grid-template-columns: 100px 110px;
  grid-template-rows: 108px;
  padding: 9px 0px 0px 0px;
  gap: 16px;
  grid-templates-areas:
    "countFromSumAndCount IdSumFromSumAndCount";
}
.countFromSumAndCount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-templates-areas:
    "plusFromCountFromSumAndCount"
    "ostatkiFromCountFromSumAndCount"
    "iconsFromCountFromSumAndCount";
}
.containerSumFromIdSumFromSumFromSumAndCount{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto ;
  grid-templates-areas:
    "sumOfItem valutaOfItem"
}
#tovar1 {
  border-style: solid;
  grid-area: tovar1;
}
#tovar2 {
  border-style: solid;
  grid-area: tovar2;
}
#tovar3 {
  border-style: solid;
  grid-area: tovar3;
}

#otsutsv {
  border-style: solid;
  grid-area: otsutsv;
}
.containerOtsutsv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 1fr;
  border-style: solid;
  gap: 16px;
  grid-template-areas:
     "otsutsvInto"
     "tovaryOtsutsv";
}
#otsutsvInto {
  border-style: solid;
  grid-area: otsutsvInto;
}
#tovaryOtsutsv {
  border-style: solid;
  grid-area: tovaryOtsutsv;
}
.containertovaryOtsutsv{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 108px 108px 108px;
  border-style: solid;
  gap: 20px;
  grid-template-areas:
     "otsutsvTovar1"
     "otsutsvTovar2"
     "otsutsvTovar3";
}
.tovarOtsutsvuyut{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto 226px;
  grid-template-rows: auto;
  grid-templates-areas:
    "picAndDescription sumAndCount";
}
#otsutsvTovar1 {
  border-style: solid;
  grid-area: otsutsvTovar1;
}
#otsutsvTovar2 {
  border-style: solid;
  grid-area: otsutsvTovar2;
}
#otsutsvTovar3 {
  border-style: solid;
  grid-area: otsutsvTovar3;
}

#blockDelivery {
  border-style: solid;
  grid-area: blockDelivery;
}
.containerDelivery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 362px 136px 216px;
  border-style: solid;
  gap: 16px;
  grid-template-areas:
     "dostavka1Round"
     "oplataRound"
     "poluchatelRound";
}
#dostavka1Round {
  border-style: solid;
  grid-area: dostavka1Round;
}

.containerdostavka1Round{
  border-style: solid;
  display: grid;
  padding: 16px 0px 24px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 276px 22px;
  row-gap: 24px;
  grid-template-areas:
     "idContainerDostavkaTitle"
     "idStrokaInfoOtkaz";
}
#idContainerDostavkaTitle{
  border-style: solid;
  grid-area: idContainerDostavkaTitle;
}
#idStrokaInfoOtkaz{
  border-style: solid;
  grid-area: idStrokaInfoOtkaz;
}
.containerDostavkaTitle{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 228px;
  gap: 16px;
  grid-template-areas:
     "h4"
     "IdContainerAdressDelivery";
}
#h4 {
  border-style: solid;
  grid-area: h4;
}
#IdContainerAdressDelivery {
  border-style: solid;
  grid-area: IdContainerAdressDelivery;
}
.containerAdressDelivery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
  grid-template-areas:
     "labelContainerAdressDelivery adressContainerAdressDelivery";
}
#labelContainerAdressDelivery{
  grid-area: labelContainerAdressDelivery;
}
#adressContainerAdressDelivery{
  grid-area: adressContainerAdressDelivery;
}
.containerSmallTovary6{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
  grid-template-areas:
     "picSmall1 picSmall2 picSmall3";
}
#picSmall1{
  grid-area: picSmall1;
}
#picSmall2{
  grid-area: picSmall2;
}
#picSmall3{
  grid-area: picSmall3;
}
#oplataRound {
  border-style: solid;
  grid-area: oplataRound;
}
.containerOplata{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px 16px;
  padding: 16px 24px 24px 24px;
  gap: 8px;
  grid-template-areas:
     "sposobOplaty"
     "spishemOplatu";
}
#sposobOplaty {
  grid-area: sposobOplaty;
}
.containerSposobOplaty{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 24px;
  gap: 16px;
  grid-template-areas:
     "h6SposobOplaty"
     "cartMir";
}
#h6SposobOplaty {

  grid-area: h6SposobOplaty;
}
#cartMir {

  grid-area: cartMir;
}
#spishemOplatu {
  border-style: solid;
  grid-area: spishemOplatu;
}
#poluchatelRound {
  border-style: solid;
  grid-area: poluchatelRound;
}
.containerPoluchatelRound{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 128px;
  padding: 16px 24px 24px 24px;
  border-style: solid;
  gap: 16px;
  grid-template-areas:
     "h6ЗoluchatelRound"
     "idAnketa";
}
#h6ЗoluchatelRound {
  border-style: solid;
  grid-area: h6ЗoluchatelRound;
}
#idAnketa {
  border-style: solid;
  grid-area: idAnketa;
}
.classAnketa{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 64px;
  border-style: solid;
  grid-template-areas:
     "idNameSurname"
     "idMailNumInn";
}
#idNameSurname {
  border-style: solid;
  grid-area: idNameSurname;
}
#idMailNumInn {
  border-style: solid;
  grid-area: idMailNumInn;
}
#sidebarItog {
  border-style: solid;
  grid-area: sidebarItog;
}

.containerItog{
  margin-top: -12px;
  border-style: solid;
  gap: 24px;
  padding: 16px 24px 24px 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 420px 88px;
  border-style: solid;
  grid-template-areas:
     "idStoimodyZakaza"
     "idKnopkaZakaza";
}
#idStoimodyZakaza {
  border-style: solid;
  grid-area: idStoimodyZakaza;
}
#idKnopkaZakaza {
  border-style: solid;
  grid-area: idKnopkaZakaza;
}
.ceny{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: '203tov 2302com';
  justify-content: space-between;
}
#tabbar{
  display: none;
}
nav {
  background-color: rgb(103,37,168);
  grid-area: nav;
}
#navigationBlock {
  height: 88px;
  max-width: 1400px;
  background-color: rgb(103,37,168);
}
#Skruglenie {
  height: 24px;
  background-color: rgb(246,246,250);
  border-radius: 24px 24px 0px 0px;
}
main{
  grid-area: main;
}
#Skruglenie2 {
  height: 24px;
  background-color: rgb(246, 246, 250);
  border-radius: 0px 0px 24px 24px;
}
footer {
  height: 88px;
  background-color: rgb(103,37,168);
  grid-area: footer;
}
#tabbar {
  display: none;
  border-style: solid;
  grid-area: tabbar;
}
@media only screen and (max-width: 1400px) {
  .container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1400px;
    grid-template-rows: 112px 1825px 88px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
  }
  .contantContainer {
    column-gap: 32px;
    row-gap: 27px;
    display: grid;
    border-style: solid;
    grid-area: contantContainer;
    padding: 0px 24px 16px 24px;
    grid-template-columns: 891px 429px;
    grid-template-rows: auto auto;
    grid-template-areas:
  "h1 sidebarItog"
  "container1 sidebarItog";
  }
  .container1{
    row-gap: 40px;
    display: grid;
    grid-area: container1;
    border-style: solid;
    grid-template-columns: 891px;
    grid-template-rows: 516px 404px 746px;
    grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
  }
}
@media only screen and (max-width: 1024px) {
  .container1{
    row-gap: 40px;
    display: grid;
    grid-area: container1;
    border-style: solid;
    grid-template-columns: 640px;
    grid-template-rows: 516px 404px 746px;
    grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
  }
  #Itog {
    border-style: solid;
    height: 604px;
  }
}
@media only screen and (max-width: 990px) {
  .contantContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "h1"
    "vnalichii"
    "otsutsv"
    "blockDelivery"
    "sidebarItog"
  ;
  }
  #Itog {
    margin-top: 0px;
    border-style: solid;
    height: 604px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 88px 50px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer"
  "tabbar";
  }
  .contantContainer {
    padding: 0px 16px 0px 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.4fr 0.4fr 0.6fr 0.2fr;
    grid-template-areas:
    "h1"
    "vnalichii"
    "otsutsv"
    "blockDelivery"
    "sidebarItog"
  ;
  }
  #Itog {
    margin-top: 0px;
    border-style: solid;
    height: 604px;
  }

  #tabbar {
    border-style: solid;
    display: block;
    height: 40px;
    grid-area: tabbar;
  }
  nav {
    background-color: rgb(103,37,168);
    height: 80px;
  }
  #Skruglenie {
    height: 24px;
    background-color: rgb(246,246,250);
    border-radius: 24px 24px 0px 0px;
  }
  #navigationBlock {
    height: 56px;
    max-width: 1400px;
    background-color: rgb(103,37,168);
  }
}
