* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(246,246,250);
  margin: 0px 0px 0px 0px;
  font-family: "Segoe UI";
}
.container {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 112px 1825px 88px;
  grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
}
.contantContainer {
  column-gap: 32px;
  row-gap: 27px;
  display: grid;
  border-style: solid;
  grid-area: contantContainer;
  padding: 0px 24px 16px 24px;
  grid-template-columns:  1fr 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "h1  sidebarItog"
  "container1 sidebarItog";
}
.container1{
  row-gap: 40px;
  display: grid;
  grid-area: container1;

  grid-template-columns: 1fr;
  grid-template-rows: 516px 404px 746px;
  grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
}
.containerVnalichii {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 1fr;

  gap: 16px;
  grid-template-areas:
     "vyborVse"
     "tovary";
}
#tovary {

  grid-area: tovary;
}
#vyborVse {
  border-style: solid;
  grid-area: vyborVse;
}
#vnalichii {

  grid-area: vnalichii;
}
.containerTovary{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 108px 176px 152px;

  gap: 20px;
  grid-template-areas:
     "tovar1"
     "tovar2"
     "tovar3";
}
.tovar{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto 226px;
  grid-template-rows: auto;
  grid-templates-areas:
    "picAndDescription sumAndCount";
}

.picAndDescription{
  border-style: solid;
  grid-area: picAndDescription;
}
.sumAndCount{
  border-style: solid;
  grid-area: sumAndCount;
}
.containerPicAndDescription{
  display: grid;
  grid-template-columns: 106px 1fr;
  grid-template-rows: 108px;
  padding: 12px 0px 0px 0px;
  grid-templates-areas:
    "IdClickAndPic IdDescriptionFromPicAndDescription";
}
.ClickAndPic {
  display: grid;
  grid-template-columns: 22px 72px;
  grid-template-rows: 108px;
  grid-templates-areas:
    "ClickFromClickAndPic PictureFromClickAndPic";
}
#ClickFromClickAndPic{
  grid-area: ClickFromClickAndPic;
}
#PictureFromClickAndPic{
  grid-area: PictureFromClickAndPic;
}
.containerSpecificationFromDescriptionFromPicAndDescription{
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  justify-content: start;
  grid-templates-areas:
    "idThingColor idThingSize"
}
.containercompanyFromDescriptionFromPicAndDescription{
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: start;
  grid-templates-areas:
    "idCompany idInfo"
}
#nameFromDescriptionFromPicAndDescription2{
  width:275px;
}
#nameFromDescriptionFromPicAndDescription3{
  width:275px;
}

.containerSumAndCount{
  display: grid;
  grid-template-columns: 100px 110px;
  grid-template-rows: 108px;
  padding: 9px 0px 0px 0px;
  gap: 16px;
  grid-templates-areas:
    "countFromSumAndCount IdSumFromSumAndCount";
}
.countFromSumAndCount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-templates-areas:
    "plusFromCountFromSumAndCount"
    "ostatkiFromCountFromSumAndCount"
    "iconsFromCountFromSumAndCount";
}
.displayCounter{
  background-color: #FFFFFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 44px;
  border-radius: 8px;
}
.buttons{
  font-family: "Segoe UI";
  font-size: 20px;
  width: 24px;
  height: 24px;
  display:inline-block;
  background-color: white;
  border: none;

}
.buttons:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
}
.chisloCount{
  justify-content: center;
  display:flex;
  width: 44px;
}
.containerSumFromIdSumFromSumFromSumAndCount{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto ;
  grid-templates-areas:
    "sumOfItem valutaOfItem"
}
#tovar1 {
  border-style: solid;
  grid-area: tovar1;
}
#tovar2 {
  border-style: solid;
  grid-area: tovar2;
}
#tovar3 {
  border-style: solid;
  grid-area: tovar3;
}

#otsutsv {
  border-style: solid;
  grid-area: otsutsv;
}
.containerOtsutsv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 1fr;
  border-style: solid;
  gap: 16px;
  grid-template-areas:
     "otsutsvInto"
     "tovaryOtsutsv";
}
#otsutsvInto {
  grid-area: otsutsvInto;
}
#tovaryOtsutsv {
  grid-area: tovaryOtsutsv;
}
.containertovaryOtsutsv{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 108px 108px 108px;
  gap: 20px;
  grid-template-areas:
     "otsutsvTovar1"
     "otsutsvTovar2"
     "otsutsvTovar3";
}
.tovarOtsutsvuyut{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto 226px;
  grid-template-rows: auto;
  grid-templates-areas:
    "picAndDescription sumAndCount";
}
#otsutsvTovar1 {
  grid-area: otsutsvTovar1;
}
#otsutsvTovar2 {
  grid-area: otsutsvTovar2;
}
#otsutsvTovar3 {
  grid-area: otsutsvTovar3;
}

#blockDelivery {
  grid-area: blockDelivery;
}
.containerDelivery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 362px 136px 216px;
  gap: 16px;
  grid-template-areas:
     "dostavka1Round"
     "oplataRound"
     "poluchatelRound";
}
#dostavka1Round {
  grid-area: dostavka1Round;
}

.containerdostavka1Round{
  border-radius: 16px;
  background-color: #FFFFFF;
  display: grid;
  padding: 16px 0px 24px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 276px 22px;
  row-gap: 24px;
  grid-template-areas:
     "idContainerDostavkaTitle"
     "idStrokaInfoOtkaz";
}
#idContainerDostavkaTitle{
  grid-area: idContainerDostavkaTitle;
}
#idStrokaInfoOtkaz{
  grid-area: idStrokaInfoOtkaz;
}
.containerDostavkaTitle{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 228px;
  gap: 16px;
  grid-template-areas:
     "h4"
     "IdContainerAdressDelivery";
}
#h4 {
  grid-area: h4;
}
#IdContainerAdressDelivery {
  grid-area: IdContainerAdressDelivery;
}
.containerAdressDelivery{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
  grid-template-areas:
     "labelContainerAdressDelivery adressContainerAdressDelivery";
}
#labelContainerAdressDelivery{
  display: grid;
  grid-template-rows: 44px 24px 56px 56px;
  grid-area: labelContainerAdressDelivery;
  padding: 0px 0px 0px 24px;
  gap: 16px;
}
#adressContainerAdressDelivery{
  grid-area: adressContainerAdressDelivery;
  display: grid;
  grid-template-rows: 44px 24px 56px 56px;
  padding: 0px 24px 0px 0px;
  gap: 16px;
}
.containerSmallTovary6{
  display: flex;
  height: 56px;
  gap: 8px;
}
#picSmall1{
  grid-area: picSmall1;
}
#picSmall2{
  grid-area: picSmall2;
}
#picSmall3{
  grid-area: picSmall3;
}
#idStrokaInfoOtkaz{
  display: flex;
  padding: 0px 24px 0px 24px;
  gap: 8px;
}
#oplataRound {
  grid-area: oplataRound;
}
.containerOplata{
  display: grid;
  border-radius: 16px;
  background-color: #FFFFFF;
  grid-template-columns: 1fr;
  grid-template-rows: 72px 16px;
  padding: 16px 24px 24px 24px;
  gap: 8px;
  grid-template-areas:
     "sposobOplaty"
     "spishemOplatu";
}
#sposobOplaty {
  grid-area: sposobOplaty;
}
.containerSposobOplaty{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 24px;
  gap: 16px;
  grid-template-areas:
     "h6SposobOplaty"
     "cartMir";
}
#h6SposobOplaty {

  grid-area: h6SposobOplaty;
}
#cartMir {

  grid-area: cartMir;
}
#spishemOplatu {
  grid-area: spishemOplatu;
}
#poluchatelRound {
  grid-area: poluchatelRound;
}
.containerPoluchatelRound{
  display: grid;
  border-radius: 16px;
  background-color: #FFFFFF;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 128px;
  padding: 16px 24px 24px 24px;
  gap: 16px;
  grid-template-areas:
     "h6ЗoluchatelRound"
     "idAnketa";
}
#h6ЗoluchatelRound {
  grid-area: h6ЗoluchatelRound;
}
#idAnketa {
  grid-area: idAnketa;
}
.classAnketa{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 64px 64px;
  grid-template-areas:
     "name surname "
     "email phone innNumb";
}
#idNameSurname {
  grid-area: idNameSurname;
}
#idMailNumInn {
  grid-area: idMailNumInn;
}
.text-field_floating-3 {
  position: relative;
}

.text-field_floating-3 .text-field__input {
  border: none;

  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  line-height: 1.25;
  padding: 1rem 0.75rem;
  background-color: white;
}

.text-field_floating-3 .text-field__input:focus {
  outline: 0;
  border-bottom: 1px solid #9797AF;
  box-shadow: none;
  background-color: #eee;
}

.text-field_floating-3 .text-field__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: color .15s ease-in-out, transform .15s ease-in-out;
  color: #9797AF;
}

.text-field_floating-3 .text-field__input::-moz-placeholder {
  color: transparent;

}

.text-field_floating-3 .text-field__input::placeholder {
  color: transparent;
}

.text-field_floating-3 .text-field__input:focus,
.text-field_floating-3 .text-field__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .625rem;
  border-bottom: 1px solid #03a9f4;
}

.text-field_floating-3 .text-field__input:focus~.text-field__label,
.text-field_floating-3 .text-field__input:not(:placeholder-shown)~.text-field__label {
  transform: scale(.85) translateY(-.75rem) translateX(.15rem);
  color: #03a9f4;
}

#sidebarItog {
  grid-area: sidebarItog;
}

.containerItog{
  margin-top: -12px;
  gap: 24px;
  padding: 16px 24px 24px 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 420px 88px;
  border-style: solid;
  background-color: #FFFFFF;
  border-radius: 16px;
  grid-template-areas:
     "idStoimodyZakaza"
     "idKnopkaZakaza";
}

#idStoimodyZakaza {
  grid-area: idStoimodyZakaza;
}
#idKnopkaZakaza {
  grid-area: idKnopkaZakaza;
}
.containerRazdelenieZakaz{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
  grid-template-areas:
     "containerCena"
     "idDostavka"
     "idOplataKartoy";
}
#idDostavka {
  grid-area: idDostavka;
}
#idOplataKartoy {
  grid-area: idOplataKartoy;
}
.containerDostavka{
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 52px;
  grid-template-areas:
    "containerDostavkaVPunktVydachi"
    "containerBesplatDostavka";

}
.ceny{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'idItogoCeny id2101063сом';
  justify-content: space-between;
}
.containerCena{
  grid-area: containerCena;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33px 72px;
  gap: 8px;
  grid-template-areas:
        "idItogoCeny1"
        "containerCeny2";
}
#idItogoCeny1 {
  grid-area: idItogoCeny1;
}

.containerCeny2{
  grid-area: containerCeny2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "id1idItogoCeny2"
    "id2idItogoCeny2"
    "id3idItogoCeny2";

}
#id1idItogoCeny2 {
  grid-area: id1idItogoCeny2;
}
#id2idItogoCeny2 {
  grid-area: id2idItogoCeny2;
}
#id3idItogoCeny2 {
  grid-area: id3idItogoCeny2;
}
.ceny1{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'id203tov id2302com';
  justify-content: space-between;
}
.ceny2{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'skidkaWord id985com';
  justify-content: space-between;
}
.ceny3{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'dostavkaWord besplatno';
  justify-content: space-between;
}
#id203tov {
  grid-area: id203tov;
}
#id2302com {
  grid-area: id2302com;
}
#id985com {
  grid-area: id985com;
}
#skidkaWord {
  grid-area: skidkaWord;
}
#dostavkaWord {
  grid-area: dostavkaWord;
}
#besplatno {
  grid-area: besplatno;
}
.containerDostavkaVPunktVydachi{
  grid-area: containerDostavkaVPunktVydachi;
  column-gap: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "idNazvPunkta"
  "idGorod"
  "idDataDost";
}
#idNazvPunkta{
  grid-area: idNazvPunkta;
}
#idGorod{
  grid-area: idGorod;
}
#idDataDost{
  grid-area: idDataDost;
}
.containerBesplatDostavka {
  grid-area: containerBesplatDostavka;
  column-gap: 8px;
  display: grid;
  padding: 8px 8px 12px 8px;
  grid-template-columns:  auto auto;
  grid-template-rows: 52px;
  grid-template-areas:
  "idIconSber idObratDostav";
}
#idIconSber{
  font-size: 14px;
}
#idObratDostav{
  font-size: 13px;
}
#tabbar{
  display: none;
}
nav {
  background-color: rgb(103,37,168);
  grid-area: nav;
}
#navigationBlock {
  height: 88px;

  background-color: rgb(103,37,168);
}
#Skruglenie {
  height: 24px;
  background-color: rgb(246,246,250);
  border-radius: 24px 24px 0px 0px;
}
main{
  grid-area: main;
}
#Skruglenie2 {
  height: 24px;
  background-color: rgb(246, 246, 250);
  border-radius: 0px 0px 24px 24px;
}
footer {
  height: 88px;
  background-color: rgb(103,37,168);
  grid-area: footer;
}
#tabbar {
  display: none;
  grid-area: tabbar;
}
@media only screen and (width: 1400px) {
  .container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 112px 1825px 88px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
  }
  .contantContainer {
    column-gap: 32px;
    row-gap: 27px;
    display: grid;
    grid-area: contantContainer;
    padding: 0px 24px 16px 24px;
    grid-template-columns: 891px 429px;
    grid-template-rows: auto auto;
    grid-template-areas:
  "h1 sidebarItog"
  "container1 sidebarItog";
  }
  .container1{
    row-gap: 40px;
    display: grid;
    grid-area: container1;
    grid-template-columns: 891px;
    grid-template-rows: 516px 404px 746px;
    grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
  }
}
@media only screen and (width: 1024px) {
  .container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 112px 1825px 88px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
  }
  .container1{
    row-gap: 40px;
    display: grid;
    grid-area: container1;
    grid-template-columns: 640px;
    grid-template-rows: 516px 404px 746px;
    grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
  }
  #Itog {
    height: 604px;
  }
  .contantContainer {
    column-gap: 32px;
    row-gap: 27px;
    display: grid;
    grid-area: contantContainer;
    padding: 0px 24px 16px 24px;
    grid-template-columns: 640px 304px;
    grid-template-rows: auto auto;
    grid-template-areas:
  "h1 sidebarItog"
  "container1 sidebarItog";
  }
}
@media only screen and (max-width: 1004px) and (min-width: 991px) {
  .container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 112px 1825px 88px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
  }
  .container1{
    row-gap: 40px;
    display: grid;
    grid-area: container1;
    grid-template-columns: auto;
    grid-template-rows: 516px 404px 746px;
    grid-template-areas:
  "vnalichii"
  "otsutsv"
  "blockDelivery";
  }
  #Itog {
    height: 604px;
  }
  .contantContainer {
    column-gap: 32px;
    row-gap: 27px;
    display: grid;
    grid-area: contantContainer;
    padding: 0px 24px 16px 24px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
  "h1 sidebarItog"
  "container1 sidebarItog";
  }
}
@media only screen and (max-width: 990px) {
  .container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 112px auto 88px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer";
  }
  .contantContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto ;
    grid-template-areas:
    "h1"
    "container1"
    "sidebarItog"
  ;
  }
  #Itog {
    margin-top: 0px;
    height: 604px;
  }
}
@media only screen and (max-width: 670px) {
  .tovar{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-templates-areas:
      "picAndDescription sumAndCount";
  }
  .containerSumAndCount{
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 108px;
    padding: 9px 0px 0px 0px;
    gap: 16px;
    grid-templates-areas:
      "countFromSumAndCount IdSumFromSumAndCount";
  }
}
@media only screen and (max-width: 425px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 88px 50px;
    grid-template-areas:
  "nav"
  "contantContainer"
  "footer"
  "tabbar";
  }
  .contantContainer {
    padding: 0px 16px 0px 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "h1"
    "container1"
    "sidebarItog"
    "tabbar";
  }
  #Itog {
    margin-top: 0px;
    height: 604px;
  }

  #tabbar {
    border-style: solid;
    display: block;
    height: 40px;
    grid-area: tabbar;
  }
  nav {
    background-color: rgb(103,37,168);
    height: 80px;
  }
  #Skruglenie {
    height: 24px;
    background-color: rgb(246,246,250);
    border-radius: 24px 24px 0px 0px;
  }
  #navigationBlock {
    height: 56px;

    background-color: rgb(103,37,168);
  }
}
